<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error page</title>
    <link rel="stylesheet" href="/new.css" type="text/css" />
  </head>
  <body>
    <div class="navbar">
      <a href="home">Home</a>
      <a href="new">New Page</a>
      <a href="show">Show Page</a>
    </div>

    <div class="errdiv">
      <h1><%= err.message %></h1>
    </div>
  </body>
</html>
